/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome/css/font-awesome.min
 *= require_tree .
 *= require_self
 */
 body {
 	font-size: 16px;
 	color: #4a3b26;
  font-family: 'open_sansregular';
 }
 h1, h2, h3, h4, h5, h6 {
  color: #4a3b26;
}
.navbar {
  z-index: 2;
  height: 12vh;
  background: transparent;
  border: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.navbar.scrolled{
  background:#fafafa;
  border-bottom: 1px solid #ececec;
}
.navbar-expand-lg .navbar-nav .nav-link {
	  background: #ececec;
    border-radius: 3px;
    margin:0 5px;
    padding: 10px 20px;
    color: #4a3b26;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  background-color: #ea9a31;
  color: #ffffff;
}
.navbar-brand {
	margin-right: 30px;
}

.btn, input.btn {
	display: inline-block;
    background: #ea9a31;
    padding: 10px 20px;
    border-radius: 25px;
    color: #ffffff;
    font-weight: bold;
    margin: 20px 0;
}
.btn:hover {
	background-color: #666666;
	color: #ffffff;
}
.ver-todo {
  padding: 5px 12px;
  font-size: 0.9rem;
  margin-left: 10px;
}
.color1 {
  background-color: #f5c95c;
}
.color2 {
	background-color: #e96b00;
}
.color3 {
	background-color: #7a3900;
}
.color4 {
	background-color: #5c3024;
}
.fa.fa-navicon {
  color:white;
}
.fondo-login {
  height: 88vh;
  background: url(img-login.jpg) no-repeat 0 0;
  background-size: cover;
}
.login h2 {
  font-family: 'open_sansbold';
  margin-bottom: 10px;
  padding-top: 5rem;
}
.login .field {
  margin-top: 25px;
}
.login .field label {
  color: #ea9d33;
  font-family: 'open_sansbold';
}
.login .field input {
  width: 100%;
  border: 0;
  outline: none;
  border-bottom: 2px solid #ea9d33;
  box-shadow: none;
  padding: 5px;
}
.login .field.check input {
  width: auto;
}
.login .align-form {
  width: 70%;
  margin: 0 auto;
}
.login .btn {
  width: 100%;
}
.login .enlace {
  color: #6b6b6b;
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
}
.fondo-signup {
  height: 88vh;
  background: url(img-signup-1.jpg) no-repeat 0 0;
  background-size: cover;
}
.btn-file {
    position: relative;
    overflow: hidden;
    display: block;
    color: #5a5a5a;
    font-size: 18px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.minimo {
  font-size: 12px;
  color: #92857a;
}
.banner {
  background-size: cover;
  height: 35vh;
}
.interior h1 {
  background: #4a3b26;
  display: inline-block;
  color: #ffffff;
  font-family: 'open_sansbold';
  margin: -60px 0 30px 0;
  padding: 10px 30px;
}
