// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.inicio {
	padding-top: 4rem;
	background: #fafafa;
	margin-top: -12vh;
	height: 85vh;
}
.inicio h2 {
	padding-top: 10rem;
	font-size: 2rem;
	letter-spacing: -1px;
}
h2 span {
	font-family: 'open_sansbold';
	display: block;
	font-size: 3rem;
	letter-spacing: -2px;
}
h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 50px 0 20px;
  display: inline-block;
}
h4 {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
	margin: 0;
}
.inicio img {
	padding-bottom: 2rem;
}
.menu {
	height: 15vh;
	background: #eaeaea;
}
.menu p {
	padding: 35px 0;
  margin: 0;
}
.menu .botonera {
	text-align: right;
}
.recetas .foto img {
  width: 100%;
  height: auto;
  padding: 0;
}
.modulo {
    border: 1px solid #dedcdc;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 30px;
}
.modulo a {
	text-decoration: none;
	color: #4a3b26!important;
}
.recetas .likes i {
	color: #e20e3f;
	font-size: 20px;
	padding: 7px;
}
.recetas .dato {
	display: inline-block;
  font-size: 12px;
  padding: 0 10px 7px;
}
.recetas .dato > span {
	display: block;
}
.recetas .dato.likes {
	float: right;
	font-size: 16px;
}
