.banner {
  background: url(img-banner.jpg) no-repeat fixed 0 0;
}
.detalle h1 {
  font-family: 'open_sansbold';
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #c1c1c1;
}
.detalle .likes i {
  color: #e20e3f;
  font-size: 30px;
  padding: 7px;
}
.detalle .dato.likes {
  font-size: 20px;
  font-family: 'open_sansbold';
}
