<div class="container-fluid interior direccion">
  <div class="row banner"></div>
  <div class="container">
    <h1>Donde Comprar</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="bajada">
          <span>Encuentra y comparte las mejores datos donde comprar productos sin gluten.</span>
          <%= link_to 'Crear Dirección', new_location_path, :class => 'btn crear float-right' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <%= render @locations %>
        </div>
      </div>
      <div class="col-md-6">
        <div id="map" class="map"></div>
      </div>
      <script>
        var hash = <%= raw @hash.to_json %>;
      </script>
    </div>
  </div>
</div>
